// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

@import "partials/base";
@import "partials/blown-responsive";

@include establish-baseline;

/****************************************************************************************************************************. regions  */

// If the entire page requires a margin, this is the optimal place.
// Do not use if wrappers with a background color are intended to span the entire page,
// without any margin.
#page-wrapper {
}

#header {
}

//  @media #{nth($tapback_mediaqueries, $tapback_mediaquery_s)} {

// Regions are centered within their wrappers.
// With mobile, the wrappers contain the margins instead.
#main, #secondary, #footer, #breadcrumb, .region-search {
  @include tapback_span(12);
  @include legacy-pie-clearfix;
  @media #{$tapback_media_not_mobile} {
    margin: 0 auto;
  }
}

#content {
  float: left;
  @include tapback_span(9, $tapback_grid_columns, -100);
  @include tapback_gutter();
}

p {
  margin: 0;
  @include tapback_gutter_horizontal();
}

