// Total columns in this grid
$blownfuse_grid_columns: 12;

// Media query definitions.  Sets break points for responsive design.
// NOTE: Sass 3.2 supports variables in media queries; 3.1 does not.
$blownfuse_mediaqueries:
	"screen and (max-width : 480px)",
	"screen and (min-width: 481px) and (max-width: 719px)",
	"screen and (min-width: 720px) and (max-width: 959px)",
	"screen and (min-width: 960px) and (max-width: 1299px)",
	"screen and (min-width: 1300px)";

// SASS provides support for lists, but nothing fancy like a hash.  These
// provide convenience constants to access nth() element.
$blownfuse_mediaquery_s: 1;
$blownfuse_mediaquery_m: 2;
$blownfuse_mediaquery_l: 3;
$blownfuse_mediaquery_xl: 4;
$blownfuse_mediaquery_xxl: 5;

// Each container should be less than the breakpoint to provide page gutters.
// First element in list is "s" breakpoint, second is "m", so on.
// Set breakpoint 0 to make all grid widths = 100%.  Useful for mobile.
$blownfuse_containers:
	0,
	460,
	680,
	920,
	1152;

$blownfuse_fluid_container: 80%;

$blownfuse_gutters:
	0,
	10,
	20,
	20,
	24;

$blownfuse_gutters_horizontal:
	15,
	10,
	20,
	20,
	24;

// Fluid or fixed width?
$blownfuse_fluid:
	true,
	true,
	false,
	false,
	false;

$blownfuse_gridcolours:
	rgba(100, 100, 225, 0.25),
	rgba(175, 200, 150, 0.25),
	rgba(225, 150, 150, 0.25),
	rgba(150, 150, 225, 0.25),
	rgba(150, 225, 150, 0.25);

// Sizes m - xxl.
$blownfuse_media_not_mobile: "screen and (min-width: 480px)";
$blownfuse_mediaquery_mobilenav: "screen and (max-width: 599px)";
$blownfuse_mediaquery_not_mobilenav: "screen and (min-width: 600px)";
