
/**
 * Returns width assignments wrapped in media queries.
 *
 * @param $units
 *    number of grid units
 * @param $container-units
 *    number of units of containing grid
 * @param $correction
 *    alter the calculated width
 */
@mixin blownfuse_span($units, $container_units: $blownfuse_grid_columns, $correction: 0) {

  // Todo: provide override.
  $fixed_or_fluid: 'fixed';

  $i: 1;
  @each $mquery in $blownfuse_mediaqueries {
    @media #{$mquery} {
      @if nth($blownfuse_containers, $i) == 0 {
        // Mobile version.
        @if $units == $container_units {
          width: $blownfuse_fluid_container;
        } @else {
          width: 100%;
        }
      } @else {
        @if nth($blownfuse_fluid, $i) == true or $fixed_or_fluid == 'fluid' {
          @if $units == $container_units {
            // If the container is a percentage, we don't want to do any calculation.
            // But SASS doesn't let us detect that.
            width: $blownfuse_fluid_container;
          } @else {
            $container_in_pixels: blownfuse_get_width(nth($blownfuse_containers, $i), $container_units, nth($blownfuse_gutters, $i), true) + $correction;
            width: blownfuse_get_widthflex($container_in_pixels, $units, nth($blownfuse_gutters, $i), $container_units);
          }
        }
        @elseif nth($blownfuse_fluid, $i) == true or $fixed_or_fluid == 'fixed' {
          width: blownfuse_get_width(nth($blownfuse_containers, $i), $units, nth($blownfuse_gutters, $i));
        }
      }
    }
    $i: $i + 1;
  }

}

/**
 * Returns a margin to push a block over by x units.
 *
 * @param $units
 *    number of grid units
 * @param $container-units
 *    number of units of containing grid
 * @param $assignment
 @    by default, margin-left
 */
@mixin blownfuse_margin($units, $container_units: $blownfuse_grid_columns, $assignment: 'margin-left', $correction: 0) {

  $i: 1;
  @each $mquery in $blownfuse_mediaqueries {
    @media #{$mquery} {
      @if nth($blownfuse_containers, $i) == 0 {

        // Mobile verson.
        margin-left: 0;

      }
      @else {
        @if nth($blownfuse_fluid, $i) == true {

          $container_in_pixels: blownfuse_get_width(nth($blownfuse_containers, $i), $container_units, nth($blownfuse_gutters, $i), true) + $correction;
          $single_column: blownfuse_get_column_width(nth($blownfuse_containers, $i), nth($blownfuse_gutters, $i));

          #{$assignment}: blownfuse_get_widthflex($container_in_pixels, $units, nth($blownfuse_gutters, $i), $container_units)
            + blownfuse_gutterflex($single_column, nth($blownfuse_gutters, $i), $container_units);

        }
        @else {

          #{$assignment}: blownfuse_get_width(nth($blownfuse_containers, $i), $units, nth($blownfuse_gutters, $i)) + nth($blownfuse_gutters, $i);

        }
      }
    }
    $i: $i + 1;
  }

}

/**
 * Returns fixed gutter (pixel-based) wrapped in media queries.
 */
@mixin blownfuse_gutter($assignment: 'margin-right', $container_units: $blownfuse_grid_columns) {

  $i: 1;
  @each $mquery in $blownfuse_mediaqueries {
    @media #{$mquery} {
      @if nth($blownfuse_containers, $i) == 0 {
        // Mobile verson.
        margin-left: 0;
      } @else {
        @if nth($blownfuse_fluid, $i) == true {
          $column: blownfuse_get_column_width(nth($blownfuse_containers, $i), nth($blownfuse_gutters, $i));
          #{$assignment}: blownfuse_gutterflex($column, nth($blownfuse_gutters, $i), $container_units);
        }
        @else {
          $pixelmaker: 0px;
          #{$assignment}: nth($blownfuse_gutters, $i) + $pixelmaker;
        }
      }
    }
    $i: $i + 1;
  }

}

/**
 * Returns fixed gutter (pixel-based) wrapped in media queries.
 */
@mixin blownfuse_gutter_horizontal($assignment: 'margin-bottom') {

  $i: 1;
  @each $mquery in $blownfuse_mediaqueries {
    @media #{$mquery} {
      $pixelmaker: 0px;
      $gutter: nth($blownfuse_gutters_horizontal, $i);
      #{$assignment}: $gutter + $pixelmaker;
    }
    $i: $i + 1;
  }

}

/**
 * Adds visible grid background for all viewports.
 */
@mixin blownfuse_gridbackground($total: $blownfuse_grid_columns, $containers: $blownfuse_containers, $gutters: $blownfuse_gutters, $gridcolours: $blownfuse_gridcolours) {
  $i: 1;
  @each $mquery in $blownfuse_mediaqueries {
    //column-grid-background($total, $column, $gutter, $offset, $column-color, $gutter-color, $force-fluid)
    @if $i > 1 {
      @media #{$mquery} {
        // TODO: suppport fluid debug grid.
        @if nth($blownfuse_fluid, $i) != true {
          $column: blownfuse_get_column_width(nth($containers, $i), nth($gutters, $i), $total);
          @include column-grid-background($total, $column, nth($gutters, $i), 0px, nth($gridcolours, $i), rgb(244, 244, 234));
        } @else {
          background-color: nth($gridcolours, $i);
        }
      }
    }
    $i: $i + 1;
  }
}

/**
 * Returns flexible (percentage-based) gutter wrapped in media queries.
 *
 * @param $column
 *    Width of a given column in pixels.
 * @param $gutter
 *    Gutter for given device.
 * @param $total_units
 *    Containing units
 */
@function blownfuse_gutterflex($column, $gutter, $container_units, $adjustment: 0) {

  // width of container in pixels
  $container_width: $container_units * $column + ($container_units - 1) * $gutter + $adjustment;

  // percentage of this container that would be taken up by a standard gutter.
  $container_percentage: $gutter / $container_width;

  @return percentage($container_percentage);

}

/**
 * Calculates and returns width for one or more columns.
 *
 * @param $container
 *    Width of container in pixels (960, 1200, etc.)
 * @param $units
 *    Number of units (columns) for this assignment.
 * @param $gutter
 *    Space between columns.
 */
@function blownfuse_get_width($container, $units, $gutter, $return_pixel: true, $total_units: $blownfuse_grid_columns) {

  $column: blownfuse_get_column_width($container, $gutter, $total_units);

  @if $return_pixel == true {
    $pixels: 0px;
    @return $pixels + $units * $column + ($units - 1) * $gutter;
  } @else {
    @return $units * $column + ($units - 1) * $gutter;
  }

}

/**
 * Given the container, total units and gutter, will return width of a single column.
 *
 * @param $container
 *    Width of container in pixels (960, 1200, etc.)
 * @param $units
 *    Number of units (columns) for this assignment.
 * @param $gutter
 *    Space between columns.
 * @return $column
 *    Pixel width of a single column.
 */
@function blownfuse_get_column_width($container, $gutter, $total_units: $blownfuse_grid_columns) {
  $column: ($container - $gutter * ($total_units - 1)) / $total_units;
  @return $column;
}


/**
 * Returns width as percentage.
 *
 * @param $container
 *    Width of the container in pixels
 * @param $units
 *    Number of units (columns) for this assignment.
 * @param $gutter
 *    Space between columns.
 * @param $total_units
 */
@function blownfuse_get_widthflex($container_in_px, $units, $gutter, $total_units: $blownfuse_grid_columns) {

  $sub_width: blownfuse_get_width($container_in_px, $units, $gutter, true);
  $container_width: blownfuse_get_width($container_in_px, $total_units, $gutter, true);
  @return percentage($sub_width / $container_width);

}
